

.home-page {
  min-height: calc(100vh - 61px); 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #667eea 0%, #764ba2 66%)
}

.title-section {
  text-align: center;
}

.title-section h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin-bottom: 20px;
  letter-spacing: 4px;
}

.title-section p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
}
